* {
  box-sizing: border-box;
	font-family: Roboto;
}

nav {
	background-color: rgba(12,13,14,0.86);
	padding: 5px;
	font-size: 22px;
}

nav .header {
	height: 2em;
}

nav .logo {
	font-style: italic;
	height: 100%;
	color: #00c2ff;
}

nav h1 {
	font-size: 22px;
	margin-top: 0.5em;
}

nav .search-button {
	font-weight: bold;
	height: 75%;
	padding-top: 5px;
	margin-top: 5px;
	text-align: center;
	background-color: darkgrey;
}

nav input {
	width: 80%;
}

body {
	background-color: #f5f5f5;
}

.portrait h1,h5 {
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.portrait {
	padding: 5px 20px 10px 20px;
	background-color: lightgrey;
	margin: 5px;
}

.portrait-image {
	text-align: center;
}

.portrait-image img {
	object-fit: scale-down;
	width: 255px;
}

.appears-in, .links {
    margin: 5px;
    padding: 5px 5px 1px 5px;
    background-color: lightgrey;
}

.appears-in-list, .links-list {
	padding-left: 20px;
	padding-right: 20px;
}

ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

.summary, .google-image-container, .youtube-video-container {
	margin-top: 5px;
	padding: 10px;
	background-color: lightgrey;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.character-data {
	padding-bottom: 50px;
}

.pagination {
	text-align: center;
}

.nav-arrow {
  color: grey;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.googleimages, .youtube-videos {
	display: inline-flex;
	justify-content: space-around;
	flex-flow: row wrap;
	font-size: 9px;
}

/* I want the container that holds these images to be responsive, but not the inner contents, so I am doing this manually rather than using col-x classes 
TODO: make a separate class like f-col-3 for this (making sure the [class*="col-"] doesn't select it) */
.ytvid, .gimage {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: -0.2em; /* clearfix */
  width: 33.33%;
  height: 150px;
  flex-basis: auto; 
}

.ytvid {
	height: 160px;
	width: 33%;
}

.ytvid img {
  padding-top: 10%;
  width: 80%;
}

.gimage img {
	padding-top: 10%;
	width: 90%;
	height: 100%;
	object-fit: scale-down;
}

/* For inside the modal */
.youtube-video, .google-image {
	object-fit: scale-down;
	width: 100%;
	height: 90%;
}

.dim-arrow {
	color: white;
}

.red {
  outline: 1px solid red;
}

.green {
  outline: 1px solid green;
}

.black {
  outline: 1px solid black;
}

.blue {
	outline: 1px solid blue;	
}