* {
  box-sizing: border-box;
	font-family: Roboto;
}

nav {
	background-color: rgba(12,13,14,0.86);
	padding: 5px;
	font-size: 22px;
}

nav .header {
}

nav .logo {
	font-style: italic;
	height: 100%;
	color: #00c2ff;
}

nav h1 {
	font-size: 22px;
	margin-top: 0.5em;
}

nav .search-box {
	text-align: center;
}

nav .search-button {
	font-weight: bold;
	height: 75%;
	padding-top: 5px;
	margin-top: 5px;
	text-align: center;
	background-color: darkgrey;
}

nav input {
	width: 80%;
}

body {
	background-color: #f5f5f5;
}

.portrait h1,h5 {
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.portrait {
	padding: 5px 20px 10px 20px;
	background-color: lightgrey;
	margin: 5px;
}

.portrait-image {
	text-align: center;
}

.portrait-image img {
	object-fit: scale-down;
	width: 255px;
}

.appears-in, .links {
    margin: 5px;
    padding: 5px 5px 1px 5px;
    background-color: lightgrey;
}

.appears-in-list, .links-list {
	padding-left: 20px;
	padding-right: 20px;
}

ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

.summary, .google-image-container, .youtube-video-container {
	margin-top: 5px;
	padding: 10px;
	background-color: #e6e6e6;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.character-data {
	padding-bottom: 50px;
}

.pagination {
	text-align: center;
	padding-top: 10px;
}

.nav-arrow {
  color: grey;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.youtube-videos, .googleimages {
	text-align: center;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.gimage, .ytvid {
	width: 155px;
	height: 170px;
	padding: 10px;
	background-color: #d6e3e6;
	margin: 5px;
}

.yt-thumb {
	font-size: 12px;
	margin-top: 5px;
}

.yt-desc {
	font-size: 12px;
}

.ytvid img {
  width: 100%;
}

.ytvid p {
	margin-top: 1px;
}

.gimage img {
	width: 90%;
	height: 100%;
	object-fit: cover;
}

.dim-arrow {
	color: rgba(255,255,255,20);
}

/* For inside the modal */
.youtube-video, .google-image {
	object-fit: contain;
	width: 100%;
	height: 90%;
}

/* Might merge these with identical rules above, or they might need individual styling */
.al-search-results {
	text-align: center;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	background-color: #355a6f;
}

.aniCharSearch {
	width: 155px;
	height: 200px;
	padding: 10px;
	background-color: #d6e3e6;
	margin: 5px;
}

.aniCharSearch p {
	width: 100%;
}

.aniCharSearch img {
	width: 90%;
	height: 150px;
	object-fit: contain;
}

.aniCharSearch:hover {
	background-color: #fff8cc;
}

.red {
  outline: 1px solid red;
}

.green {
  outline: 1px solid green;
}

.black {
  outline: 1px solid black;
}

.blue {
	outline: 1px solid blue;	
}