/* Modal Content */
#lightbox {
  position: fixed;
  top: 200px;
  left: 200px;
  z-index: -1;
  background-color: white;
  width: 400px;
  height: 400px;
}

.modal-content {
/*  background-color: white;
  margin: auto;
  padding: 0;
  max-width: 100px;
  color: blue;*/
  width: 100%;
  text-align: center;
}

.search-box {
  padding-top: 20px;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 0px;
  right: -20px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
	display: none;
}

.dim {
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 0;                /* Setting it lower had the onlines popping in front, higher had the modal dimmed, didn't seem to matter what I set the modal to */
	-moz-opacity: 0.9;
	opacity:.9;
	filter: alpha(opacity=90);
}